* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* NAV */
.nav {
  padding: 20px;
  background: #f4eadf;
}

/* HERO */
.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 80px;
  gap: 40px;
}

.hero img {
  width: 100%;
}
